<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dam.safebar">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeBar">
        <activity
            android:name=".CheckQR"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MostrarQR"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpRest"
            android:theme="@style/Theme.SafeBar.NoStatusBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LogInRest"
            android:theme="@style/Theme.SafeBar.NoStatusBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReservasRest"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PerfilRest"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Rest"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cuenta"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReservasUsu"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Buscar"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Inicio"
            android:theme="@style/Theme.SafeBar.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.SafeBar.NoStatusBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LogIn"
            android:theme="@style/Theme.SafeBar.NoStatusBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Splash"
            android:theme="@style/Theme.SafeBar.NoStatusBar.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>